@page{
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;  
}
 
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
  font-size: 1.4rem;
}

p{
    margin: 0;
}

img{
    width: 15rem;
}

.logo{
    display: flex;
    justify-content: center;
}

.datosTicket main{
    display: flex;
    justify-content: space-between;
}

.info main{
    display: flex;
    justify-content: space-between;
}

.totales .izquierda{
    text-align: end;
}

.listado{
    margin-bottom: 5rem;
}

.listado main{
    display: flex;
    justify-content: space-between;
}

.final p{
    text-align: center;
}

.m-t-3{
    margin-top: 2rem;
}

.text-bold{
    font-weight: bold;
}

.text-big{
    font-size: 2rem;
}

.none{
    display: none;
}

.afip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketPrecio{
    display: flex;
    width: 100%;
    height: 110px;
}

.ticketPrecio .titulo{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticketPrecio .titulo span{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.6rem;
    transform: rotate(270deg);
}

.ticketPrecio .descripcion{
    border: .1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
}

.ticketPrecio .descripcion p{
    margin-top: 1rem;
}

.ticketPrecio .descripcion p,.ticketPrecio .descripcion h2{
    padding-left: 1rem;
}

.ticketPrecio .descripcion h2{
    font-size: 2.5rem;
    margin: 0;
}

@media print{
    .ticketPrecio{
        -webkit-print-color-adjust:exact;
        print-color-adjust: exact;
    }
}