body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.buttonSeleccionado {
  background-color: rgba(75, 75, 75, 0.9);
  color: white;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  padding: 0 2rem;
  background-color: burlywood;
}

.seleccionado {
  background-color: lightgray !important;
}

.subSeleccionado {
  background-color: gray !important;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

button {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

input:disabled {
  font-weight: 900;
  color: black;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

select {
  font-size: 2rem;
  padding: 0.5rem;
}

.acciones {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.tool {
  position: relative;
}

.tool:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: gray;
  color: white;
  border: 0.1rem solid black;
}

.aclaracion {
  margin-top: 2rem;
  text-align: center;
}

table tbody {
  white-space: nowrap;
}

/* margin */

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Padding */

.p-2 {
  padding: 2rem;
}

/* Padding */

/* Flex */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-5 {
  gap: 5rem;
}

/* Flex */

/* Grid */

.grid {
  display: grid;
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.row-2-2fr-1fr {
  grid-template-rows: 2fr 1fr;
}

/* Grid */

/* Transform */

.scale-1-5 {
  transform: scale(1.5);
}

.scale-1-9 {
  transform: scale(1.9);
}


/* Transform */

/* Table */

.border-collapse {
  border-collapse: collapse;
}

/* Table */

/* Label */

/* Label */

/* font  */

.text-weight-900 {
  font-weight: 900;
}

.text-xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 3rem;
}

/* font  */

/* wdith */

.w-full {
  width: 100%;
}

.w-80 {
  width: 80rem;
}

.size-6 {
  width: 6rem;
}

/* width */

/* heigth */
.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-calc-100vh-10px {
  height: calc(100vh - 80px);
}

.h-80vh {
  height: 80vh;
}

.h-60vh {
  height: 60vh;
}

.h-40vh {
  height: 40vh;
}

.h-30vh {
  height: 30vh;
}

.h-20 {
  height: 20rem;
}

.h-24 {
  height: 24rem;
}

.h-45 {
  height: 45rem;
}

.h-50 {
  height: 50rem;
}

/* heigth */

/* background */

.backgroud-white {
  background-color: white;
}

.bg-white {
  background-color: white;
}

/* background */

/* border */
.border {
  border-width: 0.1rem;
  border-style: solid;
}

.border-black {
  border-color: black;
}

/* border */

.cursor-pointer {
  cursor: pointer;
}

.hover-scale-1-9:hover {
  transform: scale(1.2);
}

.hover-bg-gray:hover {
  background-color: lightgray;
}

.overflow-scroll {
  overflow: scroll;
}