.none{
    display: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0 2rem 1rem;
    border: .1rem solid black;
}

header main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p,header h1{
    margin: 0;
}

header h1,.cliente h2{
    font-size: 1rem;
}

header p,.cliente p{
    font-size: 0.8rem;
}

.cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border: .1rem solid black;
    padding: 0.5rem 2rem 1rem;
}

.cliente main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cliente p,.cliente h4{
    margin: 0;
}

.cliente main:last-child p{
    font-weight: bold;
}

.cliente main:last-child span{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.text-normal{
    font-weight: normal;
}

#texto{
    margin-left: 2rem;
    padding-bottom: .5rem;
}

#texto p{
    margin: 0;
}

#lista{
    border: .1rem solid black;
    margin: 0rem 2rem 0rem;
    min-height: 22vh;
}

#lista table{
    width: 100%;
    border-collapse: collapse;
}


#lista thead tr th{
    border: .1rem solid black;
}

#lista tbody tr td{
    text-align: center;
}


th,td{
    font-size: 0.8rem;
}

.total main{
    display: flex;
    justify-content: space-around;
}

.total main p:last-child{
    font-weight: bold;
}

.total main p:last-child span{
    font-weight: normal;
}