
.productos{
    display: flex;
    flex-direction: column;
}

.buscador fieldset{
    display: flex;
    justify-content: space-around;
}

.caja#input{
    width: 50%;
}

.caja{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
}

.caja input,select{
    padding: .5rem;
    font-size: 1.5rem;
}

.tabla{
    border: .1rem solid black;
    width: 100%;
    height: 70vh;
    border-collapse: collapse;
    overflow: scroll;
    background-color: white;
}

table{
    width: 100%;        
    border-collapse: collapse;
}

table thead th{
    font-size: 1.5rem;
    border: .1rem solid black ;
}

table tbody tr{
    height: 2rem;
    text-align: center;
}

table tbody tr:hover{
    cursor: pointer;
    background-color: lightgrey;
}
table tbody tr td{
    border: .1rem solid black;
}
.botones{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    background-color: gray;
}

/*agregar Producto y  modificarlo*/

#titulo{
    justify-content: end;
    margin: auto .5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

h1{
    margin: auto;
}

.agregarProducto,.modificarProducto{
    display: flex;
    text-align: center;
    flex-direction: column;
}



.agregarProducto legend,.modificarProducto legend{
    text-align: start;
}

.agregarProducto section,.modificarProducto section{
    display: flex;
    justify-content: space-around;
    margin: .5rem auto;
    font-size: 1.2rem;
    text-align: center;
}

.agregarProducto section input,.agregarProducto section select,.modificarProducto section select,.modificarProducto section input{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-size: 1.2rem;

}

.agregarProducto .descripcion,.modificarProducto .descripcion {
    width: 50%;
}

.descripcion #descripcion{
    width: 100%;
}

/* Cambio producto */
.cambio .flex{
    display: flex;
}
.cambio main label{
    display: inline-block;
    width: 80%;
}

.precio fieldset,.costo fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cambio #descripcion{
    width: 100%;
}

.marcas .inputs,.provedores .inputs{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;
}


.marcas .inputs main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.provedores .inputs{
    gap: 8rem;
}

.marcas .inputs main input,.provedores .inputs main input{
    padding: .5rem;
}

/*Modificar Codigo*/

#modificarCodigo h1{
    text-align: center;
}

#modificarCodigo main{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}


.inputs main:nth-child(1),.inputs main:nth-child(3){
    width: 30%;
}

.listaPrecios{
    text-align: center;
}

.listaPrecios .listar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.listaPrecios .listar input{
    transform: scale(1.5);
}

.botones .labelBotones{
    display: flex;
    align-items: center;
}

.botones .labelBotones label{
    width: 100%;
}

.agregarProducto .accesorios,.modificarProducto .accesorios{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.agregarProducto .accesorios main,.modificarProducto .accesorios main{
    display: flex;
}

.agregarProducto .accesorios label,.modificarProducto .accesorios label{
    font-size: 1.5rem;   
}

.agregarProducto .accesorios input,.modificarProducto .accesorios input{
    transform: scale(1.5);
    margin-left: 2rem;
}

.ticketsPrecio .fechas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ticketsPrecio .tarjetas{
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.ticketPrecio{
    display: flex;
    width: 100%;
    height: 110px;
}

.ticketPrecio .titulo{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.ticketPrecio .titulo span{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.6rem;
    transform: rotate(270deg);
}

.ticketPrecio .descripcion{
    border: .1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
}

.ticketPrecio .descripcion p{
    margin-top: 1rem;
    font-size: 2rem;
}

.ticketPrecio .descripcion p,.ticketPrecio .descripcion h2{
    padding-left: 1rem;
}

.ticketPrecio .descripcion h2{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

@media print{
    .ticketPrecio{
        -webkit-print-color-adjust:exact;
        print-color-adjust: exact;
    }

    .tarjetas{
        overflow: hidden;
    }
}