.buscador{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.buscador label{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.listaServicio h1{
    text-align: center;
}

.listaServicio .table{
    height: 65vh;
    background-color: white;
    overflow: scroll;
}

.table{
    width: 100%;
}

.table table{
    font-size: 2rem;
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

table thead{
    position: sticky;
    top: 0;
    left: 0;
}

.table table th,.table table td{
    border: .1rem solid black;
    white-space: nowrap;
    padding: 0 .5rem;
}

.acciones{
    display: flex;
    justify-content: space-around;
}

table td:hover{
    cursor: pointer;
}

.cliente fieldset{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    gap: 2rem;
}

.cliente label{
    display: inline-block;
    width: 10rem;
}

.producto .cliente, main{
    display: flex;
    flex-direction: column;
}

.producto{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
}

.egreso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.egreso .vendedor{
    width: 20%;
}

.egreso div{
    display: flex;
    justify-content: space-around;
}

.detalles{
    width: 100%;
}

textarea{
    font-size: 2rem;
}

.retiro{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.retiro fieldset{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}

.retiro fieldset input{
    transform: scale(1.5);
    align-self: center;
}

.colores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.colores div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.square{
    width: 10px;
    height: 10px;
}

.colores p{
    margin: 0;
}

.bg-red{
    background-color: rgb(253, 97, 97);
}

.bg-green{
    background-color: rgb(139, 255, 139);
}

.bg-yellow{
    background-color: yellow;
}

.bg-gray{
    background-color: lightgray;
}