.buscador{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.buscador label{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.listaServicio h1{
    text-align: center;
}

.listaServicio .table{
    height: 65vh;
    background-color: white;
    overflow: scroll;
}

.table{
    width: 100%;
}

.table table{
    font-size: 2rem;
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

table thead{
    position: sticky;
    top: 0;
    left: 0;
}

.table table th,.table table td{
    border: .1rem solid black;
    white-space: nowrap;
    padding: 0 .5rem;
}

.acciones{
    display: flex;
    justify-content: space-around;
}

table td:hover{
    cursor: pointer;
}

.cliente fieldset{
    display: flex;
    justify-content: space-around;
}

.cliente #idCliente{
    width: 5rem;
}

.cliente label{
    display: inline-block;
    width: 10rem;
}

.producto .cliente, main{
    display: flex;
    flex-direction: column;
}

.producto{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
}

.egreso fieldset{
    display: flex;
    justify-content: space-around;
}

.detalles{
    width: 100%;
}

textarea{
    font-size: 2rem;
}

.retiro{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.retiro fieldset{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}

.retiro fieldset input{
    transform: scale(1.5);
    align-self: center;
}
